{% extends "dashboard.html" %}
{% block content %}
<a href="/{{ article.id }}/edit_article" %}">Edit Article</a><br>
<h1>{{ article.title }}</h1>
<h5>author: {{ article.author }}</h5>
<h5>published: {{ article.published }}</h5>
<img src="{{ article.image.url }}">
<p>{{ article.content }}</p>
<h2>Comments</h2>
<a href="/{{ article.id }}/new_comment" %}">Add comment</a><br>
<br>
{% for comment in article.comment_set.all %}
{{ comment.name }}<br>
{{ comment.content }}<br>
{{ comment.published }}<br>
<br>
{% endfor %}
{% endblock %}